@charset "utf-8";
/**
* 三亚网络交易平台 样式文件
*  作者：chenyt 
*  日期 : 2018-10-29
*/
body{
    background: #f3f1f1;
}
ul{padding: 0;margin: 0;}
li{list-style: none;}
/*清除浮动*/
.clearfix:after{
     content:".";        
     display:block;        
     height:0;        
     clear:both;        
     visibility:hidden;
}
.page, .page-group{
    background-color: #f4f4f4;
}
/*公共头部*/
.public-header{
    background: url(../img/public-header.png) repeat-x;
    background-size: 100% 2.2rem;
}
.public-header .button-nav.pull-left{
    margin-left: 0;
}
.public-header-jz{
    background-color: #4ea9ff;
}
.public-header-jz .button-nav.pull-left{
    margin-left: 0;
}
/*工具栏*/
.bar-tab2{
    background: #ffffff;
}
.bar-tab2 .tab-item .icon img{
    height: 1.2rem;
}
.bar-tab2 .tab-item{
    color: #a7a7a7;
}
.bar-tab2 .tab-item .icon~.tab-label{
    font-size: .65rem;
}
/*登录begin*/
.mask{
    display: none;
    width:100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    background: rgba(0,0,0,0.5);
 }
.login .content{
    background: url(../img/login-bg.png) no-repeat;
    background-size: 100% 100%;
}
.lg-title{
    padding-top: 8rem;
    margin-bottom: 5.5rem;
    height: 1.25rem;
    background-size: auto 1.25rem;
    display: flex;
    justify-content: center;
    color: #fff;

    /*text-indent: -9999px;*/
}
.login .inside{
    width: 17rem;
    margin: 0 auto;
}
.login .inside p{
    height: 2rem;
    padding: .25rem .5rem .25rem 2rem;
    margin: .25rem 0;
    border-bottom: 1px solid #aad9ff;
    background: url(../img/lg-user.png) no-repeat .5rem center;
    background-size: auto 1rem;
}
.login .inside .pwd{
    background-image: url(../img/lg-pwd.png);
}
.login .inside input{
    width: 14rem;
    height: 1.6rem;
    line-height: 1.6rem;
    background: none;
    border: 0;
    color: #ffffff;
    font-size: .75rem;
}
.login .inside input::placeholder{
    color: #aed2ff;
}
.login .btn{
    display: inline-block;
    width: 100%;
    height: 2.2rem;
    line-height: 2.2rem;
    margin-top: 3rem;
    border-radius: 5px;
    background: #ffffff;
    font-size: .85rem;
    text-align: center;
    color: #41a3ff;
}
/*首页 begin*/
.index .page-current{
    background: #f4f4f4 url(../img/index-top-bg.png) no-repeat;
    background-size: 100% 10.8rem;
}
/*首页头部*/
.header2{
    background: url(../img/index-header.png) repeat-x;
    background-size: 100% 2.2rem;
}
.header .title{
    font-size: 1rem;
    color: #ffffff;
}
.header2:after{
    height: 0;
}
.header .icon-user{
    position: absolute;
    right: .5rem;
    top: .65rem;
}
.header img{
    height: 1rem;
}

.msgcon{
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    align-items: center;
    height: 7.6rem;
    text-align: right;
}
.msgcon .msg{
    width: 11.4rem;
    height: 5.2rem;
    margin-right: .8rem;
}
.inside-block{
    padding: .1rem 0 .4rem;
    background: #ffffff;
    border-bottom: 1px solid #cdcdcd;
}
.inside-block .echarts{
    margin: 0 .45rem;
}
.inside-block .in-title{
    height: 1.4rem;
    line-height: 1.4rem;
    margin: 0;
    padding: 0 .45rem;
    font-weight: normal;
    font-size: .6rem;
    color: #333333;
}
.in-title .info{
    float: right;
    color: #666666;
    font-size: .55rem;
}
.in-title .info span{
    font-size: .75rem;
    color: #c03335;
    vertical-align: top;
}
.record-list{
    padding-left: .45rem;
}
.record-list li{
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}
.record-list .text{
    flex: 1;
    height: 1.6rem;
    line-height: 1.5rem;
    padding-right: .8rem;
    border-bottom: 1px solid #e4e4e4;
    font-size: .7rem;
    color: #444444;
}
.record-list li:last-child .text{
    border-bottom: 0;
}
.record-list .text .num{
    float: right;
}
.record-list .icon{
    flex: 0 1 1.5rem;
    height: 1.5rem;
    margin-right: .4rem;
    border-radius: 50%;
    margin: 0 .4rem .2rem 0;
    background: url(../img/icon-record1.png) no-repeat center center;
    background-size: .85rem auto;
    background-color: #e3eeff;
}
.record-list .icon2{
    background-image: url(../img/icon-record2.png);
    background-color: #f9f1dc;
}
.record-list .icon3{
    background-image: url(../img/icon-record3.png);
    background-color: #d2f1eb;
}
.record-list .icon4{
    background-image: url(../img/icon-record4.png);
    background-color: #ffebd9;
}
.record-list .icon5{
    background-image: url(../img/icon-record5.png);
    background-color: #f1e9ff;
}
.record-list .icon6{
    background-image: url(../img/icon-record6.png);
    background-color: #ffe4e4;
}
.record-list .icon7{
    background-image: url(../img/icon-record7.png);
    background-color: #feedff;
}
.record-list .icon8{
    background-image: url(../img/icon-record8.png);
    background-color: #deeaff;
}
/*自定义搜索栏*/
.bar .searchblue{
    background-color: #4ea9ff;
}
.bar:after{
    height: 0 !important;
}
.searchblue .search-input input::placeholder{
    color: #bedfff;
    font-size: .75rem;
}
.searchblue .search-input label+input{
    padding-left: 1.6rem;
    border-radius: .8rem;
}
.search-input .icon .icon-bar{
    width: .8rem;
    height: .8rem;
    margin-top: .4rem;
}
.inside-block .result-con{
    margin-left: 1rem;
    font-size: .6rem;
    color: #555555;
}
.inside-block .result-con .part{
    padding-bottom: .2rem;
    border-bottom: 1px solid #e4e4e4;
}
.result-con .item{
    padding: .2rem 0;
}
.result-con .name{
    line-height: 1.2rem;
    margin: .3rem 0 .2rem;
    font-size: .75rem;
    font-weight: normal;
    color: #444444;
}
.part-list .part-item{
    display: inline-block;
    width: 34%;
    line-height: .8rem;
    padding: .1rem 0;
    color: #999999;
}
.part-list .part-item2{
    display: inline-block;
    line-height: .8rem;
    padding: .1rem 0;
    color: #999999;
}
.part-list .part-item1{
    width: 100% !important;
}
.part-list .part-item span,.part-list .part-item2 span{
    color: #555555;
}
/*主体分布*/
.control{
    height: 1.1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #d7edff url(../img/icon-control1.png) no-repeat center center;
    background-size: .7rem auto;
    box-shadow: 0 -3px 15px 0px #a3a3a3;
    z-index: 100;
}
.control-content{
    box-shadow: 0 -3px 15px 0px #a3a3a3;
}
.main-con{
    background: #ffffff;
}
.main-name{
    height: 1rem;
    line-height: 1rem;
    padding: 0 .5rem;
    margin: 0;
    background: #f4faff;
    font-weight: normal;
    font-size: .55rem;
    color: #52697f;
}
.main-con .item-con{
    display: flex;
    flex-wrap: wrap;
    padding: .25rem .2rem;
}
.item-con .item{
    width: 25%;
}
.item-con-sel .item{
    width: 100%;
}
.item-con .item p{
    height: 1.5rem;
    line-height: 1.5rem;
    margin: .25rem .3rem;
    background: #f6f6f6;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    font-size: .55rem;
    color: #52697f;
    text-align: center;
}
.item-con .active p{
    background: #ffffff;
    border-color: #4ea9ff;
    color: #0184ff;
}
.btn-content{
    display: flex;
    background: #ffffff;
}
.btn-content .button{
    flex: 1;
    height: 1.75rem;
    line-height: 1.75rem;
    background: #d7edff;
    border: 0;
    border-radius: 0;
    text-align: center;
    font-size: .75rem;
    color: #278bea;
}
.btn-content .reset{
    background-color: #ffab47;
    color: #ffffff;
}
.btn-content .search{
    background-color: #4ea9ff;
    color: #ffffff;
}

/*---------*/
.instruction{
    height: 8.6rem;
}
.instruction .inner{
    float: right;
    width: 10.5rem;
    padding-top: 2rem;
    color: #ffffff;
}
.instruction .inner h2{
    margin: 0;
    margin-bottom: .5rem;
    font-size: 1.45rem;
    letter-spacing: 1px;
}
.instruction .inner p{
    margin: 0;
    line-height: 1.2rem;
    padding-left: .8rem;
    background: url(../img/icon-yes.png) no-repeat left center;
    background-size: .6rem auto;
    font-size: .7rem;
}
.undo-wrapper{
    padding: .75rem .75rem;
    background: #ffffff;
}
.inner-name{
    height: .7rem;
    line-height: .7rem;
    padding-left: .25rem;
    margin: 0 0 .4rem 0;
    border-left: .2rem solid #41a3ff;
    color: #333333;
    font-size: .7rem;
}
.undo-wrapper .list{
    display: flex;
    flex-flow: row wrap;
}
.undo-wrapper .list li{
    width: 48%;
    padding: .4rem .8rem;
    margin: .4rem 0;
    box-sizing: border-box;
    border: 1px solid #eeeeee;
    border-radius: 8px;
    box-shadow: 3px 3px 10px #e8e8e8;
    font-size: .7rem;
    color: #999999;
}
.undo-wrapper .list li:nth-child(odd){
    margin-right: 2%;
}
.undo-wrapper .list li:nth-child(even){
    margin-left: 2%;
}
.undo-wrapper .list li p{
    margin: 0;
}
.undo-wrapper .list li .in{
    padding: .5rem 0 .2rem;
}
.undo-wrapper .list li .num{
    padding: .4rem 2rem .4rem 0;
    background: url(../img/icon-undo1.png) no-repeat right center;
    background-size: auto 1.95rem;
    font-size: 1.25rem;
    color: #333333;
}
.undo-wrapper .list li .num2{
    background-image: url(../img/icon-undo2.png);
}
.undo-wrapper .list li .num3{
    background-image: url(../img/icon-undo3.png);
}
.undo-wrapper .list li .num4{
    background-image: url(../img/icon-undo4.png);
}
.check-wrapper{
    padding: .75rem .75rem;
    margin: .5rem 0;
    background: #ffffff;
}
/*数据查询 begin*/
.list-block-y{
    margin: 0;
    padding: 0px .75rem;
    background-color: #fff;
}
.list-block-y .block-title {
  height: 0.8rem;
  margin: 1rem auto 0.6rem;
  border-left: 5px solid #3ca5ec;
  font-size: 0.8rem;
  color: #3ca5ec;
  line-height: 0.8rem;
  text-indent: 0.25rem;
}
.list-block ul:before {
  height: 0px;
}
.list-block.list-block-y .item-content {
  padding-left: 0px;
}
.list-block.list-block-y .item-inner {
  padding-right: 0px;
  font-size: 0.7rem;
}
.list-block.list-block-y .item-link .item-inner {
  padding-right: 0.75rem;
  background-position: right center;
}
.list-block .item-link.item-down .item-inner{
    background-image: url(../img/item-down.png);
}
.item-none{
    display: none;
}
.list-block .item-show {
    display: block;
    /*background-image: url(../img/item-up.png);*/
}
.item-change{
    padding: .2rem 0;
    background: #eeeeee;
    font-size: .7rem;
}
.item-change .txt{
    padding: .1rem .3rem;
}
.item-change .txt input{
    margin-right: .2rem;
}
.list-block.list-block-y .item-title {
  width: 100%;
}
.list-block.list-block-y .item-pic{
    max-height: 4.2rem;
}
.list-block.list-block-y .item-after img{
  width: 3.75rem;
  height: 3.75rem;
}
.list-block.list-block-y .block-input {
  height: 100%;
  padding: 0px;
  font-size: 0.7rem;
}
.list-block.list-block-y .item-after{
    color: #333333;
    text-align: left;
}
.list-block.list-block-y.list-block-long .item-after,.list-block.list-block-y .item-after.item-long{
    max-width: 70%;
    color: #333333;
    text-align: left;
    overflow: auto;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    max-height: 31.4rem;
}
.list-block.list-block-y .item-input {
    text-align: right;
}
.list-block.list-block-y textarea {
    font-size: 0.7rem;
}
.list-block.list-block-y .blue,.blue{
  color: #41a3ff;
}
.list-block.list-block-y .item-after .block-input {
  text-align: left;
}
.list-block.list-block-y .item-after .date{
    width: auto;
}
.list-block.list-block-y .item-after .block-input::placeholder{
    color: #cccccc;
}
.list-block.list-block-y .label {
  margin-right: 0.5rem;
}
.list-block.list-block-y .label input {
  margin-right: 0.1rem;
  vertical-align: middle;
}
.list-block input[type=date], .list-block input[type=datetime-local]{
    line-height: 1rem;
}
.list-block.list-block-y .radio-box input{
    margin: 0 .1rem 0 .6rem;
}
.white-padding{
    padding: .75rem 0 0 0;
    margin-bottom: .75rem;
    background: #ffffff;
}
.white-padding .inner-name{
    margin:0 0 .75rem .55rem;
}
.info-wrapper{
    margin: 0 .75rem;
    background: #ffffff;
}
.info-table{
    width: 100%;
    font-size: .7rem;
    color: #333333;
}
.info-table th,.info-table td{
    line-height: 1.2rem;
    padding: .5rem 0;
    box-sizing: border-box;
    border-bottom: 1px solid #eeeeee;
    font-weight: normal;
    text-align: center;
}
.info-table td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.info-table p{
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.txt-left td{
    text-align: left;
}
.quzheng{
    margin: .75rem 0;
    padding: .2rem .75rem;
    background: #ffffff;
}
.qz-name{
    line-height: 1rem;
    color: #333333;
    font-weight: normal;
    font-size: .7rem;
}
.quzheng .list{
    margin-left: -.2rem;
}
.quzheng .list li{
    display: inline-block;
    position: relative;
    margin: 0 .2rem;
}
.quzheng .item{
    width: 3.75rem;
    height: 3.75rem;
    background-size: 1.25rem;
}
.quzheng .list li img{
    width: 100%;
    height: 100%;
}
.quzheng .ready{
    background: #f4f4f4 url("../img/icon-photo.png") no-repeat center center;
    background-size: 1.5rem auto;
}
.quzheng .vedio-wrapper .ready{
    background-image: url("../img/icon-vedio.png");
}
.quzheng .list span{
    position: absolute;
    right: -.45rem;
    top: -.45rem;
    display: block;
    width: .9rem;
    height: .9rem;
    border-radius: 50%;
    background: #dddddd url(../img/icon-close.png) no-repeat center center;
    background-size: .45rem .45rem;
    z-index: 10;
}
.quzheng .btn-box{
    padding: .5rem 0 0 0;
}
/*总体统计*/
.tab-bg{
    padding: 0 .75rem;
    background: #ffffff;
}
.buttons-tab2{
    height: 3rem;
}
.buttons-tab2 .button{
    height: 2.2rem;
    line-height: 2.2rem;
    margin: 0 1rem;
}
.btn-sep .my-btn.search{
    margin-bottom: 0;
}
.content-block{
    margin: 0;
}
.in-box{
    padding: .75rem;
}
.in-box table{
    width: 100%;
    border-collapse: collapse;
    font-size: .65rem;
    color: #333333;
}
.in-box table th,.in-box table td{
    height: 1rem;
    line-height: 1rem;
    padding: .5rem 0;
    border: 1px solid #dddddd;
    text-align: center;
}
.in-box table th{
    background: #eeeeee;
    font-weight: normal;
}



/*按钮区*/
.btn-box{
    margin: 0 0 .75rem;
    padding: .75rem;
}
.btn-sep{
    margin-bottom: 0;
    background: #ffffff;
}
.button.button-fill.my-btn {
  height: 2rem;
  line-height: 2rem;
  border-radius: .15rem;
  border: 1px solid #41a3ff;
}
.my-btn.search{
    margin-bottom: .5rem;
    background-color: #41a3ff;
    color: #ffffff;
}
.my-btn.reset{
    background-color: #ffffff;
    color: #41a3ff;
}
.my-btn.onsite{
    margin-right: .4rem;
    color: #ffffff;
}
.my-btn.tohere{
    margin-left: .4rem;
    background-color: #ffffff;
    color: #41a3ff;
}
.my-btn.finish{
    background-color: #41a3ff;
    color: #ffffff;
}
.button.button-fill.my-btn.logout{
    margin-top: 2rem;
    background-color: #ff6464;
    border-color: #ff6464;
    color: #ffffff;

}
/*样式组*/
.no-padding{
    padding: 0;
}
.mar-top{
    margin-top: .75rem;
}



/*媒体查询*/
@media screen and (max-width: 320px){
    .login .inside{
        width: 14.4rem;
    }
    .buttons-tab2 .button{
        margin: 0 .2rem;
    }
}

@media screen and (min-width:768px){

}

@media screen and (min-width:1024px){

}
