ul,li,p,dl,dt,dd{
    padding: 0;
    margin: 0;
}
li{list-style: none;}
/*清除浮动*/
.clearfix:after{
     content:".";        
     display:block;        
     height:0;        
     clear:both;        
     visibility:hidden;
}
.fl-l {
  float: left;
}
.fl-r {
  float: right;
}
.text-l {
    text-align: left;
}
.text-r {
    text-align: right;
}
.page, .page-group {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 100%;
}
.list-block2{
    margin: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
}.item-title2 {
     width: 100%;
     padding: 0;
 }
 .list-block .item-title{
     white-space: normal;
 }
.list-block2 .item-inner2{
    padding: 0 0.75rem 0 0;
}
.detail-text-title {
    font-size: 0.8rem;
    text-align: center;
    color: #333;
}
.detail-info {
    text-align: center;
    color: #666;
}
.detail-text {
    font-size: 0.7rem;
    color: #444;
}
.detail-text > p{
    margin-top: 1rem;
    position: relative;
}
.list-block2 ul.detail-scroll{
    padding-left: 0;
    overflow: auto;
    white-space: normal;
    font-size: 0;
}
.detail-scroll li{
    border: 1px solid #e2e2e2;
    padding: 0.5rem;
    display: inline-block;
    margin: 0 0.5rem 0 0;
    font-size: 0.55rem;
}